<meta charset="utf-8" />
<title>[title]</title>
<meta name="keywords" content='[keywords]'>
<meta name="description" content="[descriiption]" />
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="author" content="cxbs.net!Zhaoyan" />
<link rel="shortcut icon" href="__IMAGES__/favicon.png" type="image/x-icon">
{load href="//at.alicdn.com/t/font_1381511_doxq25ja3vm.css,__LAYUI__/css/layui.css,__PUBLIC__/css/cxbsnet.css,__IMAGES__/css/app.css" /}
{load href="__PUBLIC__/js/jquery-2.0.3.min.js,__LAYUI__/layui.js,__IMAGES__/js/jquery.kxbdmarquee.js" /}