<form action="/login/login" method="post" class="layout cx-pad-a15 layui-form cx-fex-c cx-fex-column cx-fex-itemsc ll-form" style="box-shadow: 0 0 4px 0px rgba(0,0,0,0.1)">
    <div class="layout cx-form-group cx-mag-t15">
        <div class="layout cx-form-itemnowarp cx-borbottom cx-bor-white-1">
            <div class="cx-ipt-icon cx-icon cx-icontelephone"></div>
            <input class="cx-ipt uphone" placeholder="请输入手机号" type="text" name="u_phone" required lay-verify="required|phone">
        </div>
    </div>
    <div class="layout cx-form-group cx-mag-tb15">
        <div class="layout cx-form-itemnowarp cx-borbottom cx-bor-white-1">
            <div class="cx-ipt-icon cx-icon cx-iconmima"></div>
            <input class="cx-ipt" placeholder="请输入密码" type="password" required="" lay-verify="required" name="u_password" value="">
        </div>
    </div>
    <div class="layout cx-fex">
        <a href="javascript:;" title="" class="cx-mag-t5 cx-text-f12">忘记密码</a>
        <a href="javascript:;" title="" class="cx-mag-t5 cx-text-f12">注册账号</a>
    </div>
    <button class="layout cx-button ll-bor-red ll-text-red cx-mag-t20 cx-text-f16" style="padding: 10px 15px;" lay-submit lay-filter="regbtn">登录</button>
</form>