{extend name="public:base" title="$list_base.title" /}
{block name="cont"}
<div class="layout cx-mag-b15 cx-fex cx-pad-a5 cx-borbottom">
    <a class="cx-button-s cx-bor-yellow" href="javascript:history.go(-1)"><i class="cx-icon cx-iconxiangzuojiantou cx-mag-r5"></i>返回</a>
    <h6 class="cx-text-black-6">{$postdb.title|default=''}</h6>
</div>
<div class="cx-form-group cx-mag-b15">
    <label class="cx-label">模板编号</label>
    <div class="cx-form-item" style="line-height: 35px;">
        {$postdb.template_id}
    </div>
</div>
<div class="cx-form-group cx-mag-b15">
    <label class="cx-label">模板标题</label>
    <div class="cx-form-item" style="line-height: 35px;">
        {$postdb.title}
    </div>
</div>
<div class="cx-form-group cx-mag-b15">
    <label class="cx-label">模板行业</label>
    <div class="cx-form-item" style="line-height: 35px;">
        {$postdb.primary_industry} - {$postdb.deputy_industry}
    </div>
</div>
<div class="cx-form-group cx-mag-b15">
    <label class="cx-label">模板行业</label>
    <div class="cx-form-item" style="line-height: 35px;">
        {$postdb.content|raw}
    </div>
</div>
<div class="cx-form-group cx-mag-b15">
    <label class="cx-label">模板行业</label>
    <div class="cx-form-item" style="line-height: 35px;">
        {$postdb.example|raw}
    </div>
</div>
{/block}
