<div class="layout cx-fex-c" style="line-height: 1">
    <ul class="layout cx-fex-l public-icon">
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfenlei1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbianji5"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondayin"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondownload-1-copy"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcaiwu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcaiwu1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbianji6"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshuju"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconnavicon-cgfltj"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfenjifenlei"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshijianfenlei"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshuju1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondilanxianxingiconyihuifu_huabanfuben"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondayin1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconlujing58"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconlishi2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondingdan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconanquan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconicon"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshezhi2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshezhi3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconlishi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshouye1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshanchu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconlishi1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconanquan1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondengdai1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondengdai3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconchehuisekuai"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconsearch"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconchehui"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconsousuo2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondengdai4"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconpay-order"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconwuliu2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiaoxi7"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiazai41"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyinxingqia"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhifushibai"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyinxingqia1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icon31guanzhu1xuanzhong"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icon1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconId"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbuoumaotubiao14"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiaoxi8"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongouwuche"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhifuchenggong"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcredentials_icon"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongouwuche2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconwuliu1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhifuchenggong1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhifushibai1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconnotice"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongz"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshoucang4"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshoucang5"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhifuleixing"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondianhua1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconmima1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondianhua2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconmima2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondenglu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshouji1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondenglu-shoujihao"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondenglu-yonghuming"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongoumaibanquan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiugai"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongengduoneirong"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfanghu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconwuliu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyue"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconmobile"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbiaoqian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconsousuo"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbiaoqian1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconicon-test"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontianchongxing-"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzidingyiquyu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshengban-shengji"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxitongguanli"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfilter-fill"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiaochengxu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icon17"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontubiaoku-"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhaopian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconquan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconweixiushifu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongouwudai1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontixian1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjianhao-"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhangdanBill"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontixian2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongouwudai"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyijiuhuanxintubiao07"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbaoyang"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondingzhi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconanzhuang1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconboli"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongang"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbaoxiuqi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhongliushaicha"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icon-fuke"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconerke-01"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyouhui02365"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshuaxin"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconchanpin"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongouwuche1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondagou"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyijinglingqu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyangpinmoban1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconquerendingdanwancheng"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbangding"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshijian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconweixin2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconqqkongjian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshipin1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbaoming"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icon24"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondongtaiquan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconhuati"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconhuati1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconsuishoupai"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzixun"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshequ"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbianmin"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconrudangshenqing"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbaoshi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontougaoxuanzhongshi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondangjian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconkongkongde"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxingbie"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondanxuanxuanzhong"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondanxuanxuanzhong1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconmendian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfuxuankuang"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfuxuankuang-xuanzhong"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongongsibiangeng"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontaizhangceguanli"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshuiwu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyuanqu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzizhi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongongsizhuxiao"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhuanti1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxinwen"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondate-due"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondate-begin"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshoujihao"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshouji"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhiwei1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconkaka"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxitongxiaoxi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconhuanzhe"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiugaimima"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshengri"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshipin"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyanzhengma3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjiansheyinxing"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbiaodanwancheng2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontiaokuanshengming-copy"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyue1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzaixianwenzhen"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzixun1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjinbi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjiancha"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconchongzhijilu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbianji4"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontixian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshouye-paibanguanli"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontuichu-"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconls"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiangce"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconnanxingmale100"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyuyueguahao"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyiwancheng"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshouzhimingxicaifuhongbaoyue"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshouye"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondianhua"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiaoxi6"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontuwenliebiao"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzaixianwenzhen_xianxing"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjiahao-dange"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbaocun"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxianshimima"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyincangmima"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbukaixin"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconweixiao-"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjianpan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondaiwanshan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconwanshanxinxi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondaifukuan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconwendang"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconquanxianguanli"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconsetting-permissions"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconquanxianguanli1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconquanxian4"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondengdai"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhengque"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjinzhi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjia"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshousuo"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbofang"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconanswer"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconapp"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbrowser"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcamera"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcart"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcheck"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondelete"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondown"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondownload"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconedit"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconemoji"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfavor"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfold"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconhome"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconinformation"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconleft"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconlink"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconlock"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconmail"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconmenu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconmessage"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconmore"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconmy"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconnotification"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconright"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconringpause"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconroundcheck"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconservice"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconsitting"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontelephone"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontodown"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontoleft"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontoright"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontop"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconunfold"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconupload"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconiconfont89"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjikediancanicon23"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcaidan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconpinglun1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfenxiang"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfenxiang2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfenlei"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconblueberryuserset"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconkehutuijian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontuijian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconwxbgongju"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconkuaijierukou"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconiconfontzhifubao-copy"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconqq"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshiming"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcuowu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconlajixiang"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshezhi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiangshangjiantou"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiangxiajiantou"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiangyoujiantou"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiangzuojiantou"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconusergroup"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconrizhi1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconqiehuanzhanghao"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconm-zks-tuijian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icongerenshimingrz"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconhaoyou"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconqiandao"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontianjia"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbianji"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiaoxi2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconweibiaoti3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjiufuqianbaoicon06"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconusergroup1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondizhi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconweibo"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhinanzhen"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontuijian1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyonghuzu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcaidan5555"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontianjiagouwuche"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconadd"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconminus1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconqiandao1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconrenzheng1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconweixin"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiaoxi3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconchazhao"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontuijian2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhankaicaidan-copy"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcaidan1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconhuanyuan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontaobao"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfax"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbianji1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconrmb"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiaoxi4"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshezhi1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcomiiszhifubao"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconjifen"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconff02"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconerweima"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiaoxi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbofang1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconquanxian"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshouqicaidan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconligangsuoping"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyanzhengma"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconerweima1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconweibo1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyanzhengma1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiaoxi1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontuijian3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconleftcopy"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontuichu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontuijian4"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondizhi1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconcaidan2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconwenjianjia"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconhuanyuan1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconneirong"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshoucang"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconclose"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconchanpin1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconermai1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconweixinzhifu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconerweima2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshiliangtubiao-"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconquanxian1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfangxiangshang"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfangxiangxia"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfangxiangyou"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfangxiangzuo"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontuijiankaobei4-left"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconmima"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconqingchu"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshoucang1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyanzhengma2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshoucang2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxianliaoshequ"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconerweima3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondizhi2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconguhua"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconerweima4"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontaobao1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconwenjianjia1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconrenzheng2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconuser1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbianji2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconuser-group"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconqingchu1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconweixin1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconquanxian2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconUserSettings"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconQQ1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconfenxiang1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconlog"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconrizhi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhinanzhen1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondizhi3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondizhi4"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconweibo2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconxiaoxi5"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconuser-group1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconhuanyuan2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhinanzhen2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshoucang3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontuichu1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconqr_code"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconhaoyou2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconrenzheng_fuzhi"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconliebiao"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconbianji3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconchazhao1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconguhua1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconyuyue1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconquanxian3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconico"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhiding"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconrenzheng3"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconshiming1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icontuichu2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconquanping"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconQQ2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondizhi5"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconrigth"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconleft-copy"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconupcopy"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconrightcopy"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconDonw"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconanswer-copy"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-icondel"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconzhankaicaidan"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconnotification2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconnotification1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconloading"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconloading1"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconloadm"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconLoading-a"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconloading2"></i></li>
        <li class="cx-fex-c cx-fex-itemsc" onclick="seticon(this)"><i class="cx-icon cx-iconLoading"></i></li>
    </ul>
</div>