<div class="layout cx-fex-a cx-fex-itemsc cx-pos-f cx-bortop cx-bor-white-1 ll-foot cx-bg-white cx-mag-t50" style="bottom: 0;height: 50px;z-index: 9">
    <a href="/" title="" class="cx-text-black-7 cx-fex-l cx-fex-column cx-fex-itemsc">
        <i class="cx-icon cx-iconhome cx-text-f18"></i>
        <span class="cx-text-f12">首页</span>
    </a>
    <a href="/bbs/part-1.html" title="论坛" class="cx-text-black-7 cx-fex-l cx-fex-column cx-fex-itemsc">
        <i class="iconfont icon-quanzi cx-text-f18"></i>
        <span class="cx-text-f12">论坛</span>
    </a>

    <a href="/home/part-4.html" title="" class="cx-text-black-7 cx-fex-l cx-fex-column cx-fex-itemsc">
        <i class="iconfont icon-shangcheng cx-text-f18"></i>
        <span class="cx-text-f12">好物</span>
    </a>
    <a href="/home/part-19.html" title="" class="cx-text-black-7 cx-fex-l cx-fex-column cx-fex-itemsc">
        <i class="iconfont icon-jiankangbaike cx-text-f18"></i>
        <span class="cx-text-f12">百科</span>
    </a>
    <a href="/member.html" title="会员中心" class="cx-text-black-7 cx-fex-l cx-fex-column cx-fex-itemsc">
        <i class="cx-icon cx-icondenglu cx-text-f18"></i>
        <span class="cx-text-f12">我的</span>
    </a>
</div>